@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  @apply bg-corange;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-gutter .rbc-timeslot-group {
  display: flex;
  justify-content: center;
}
.rbc-time-column {
  width: 130px;
}
.rbc-timeslot-group .custom-day {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rbc-timeslot-group .custom-day .rbc-time-slot {
  text-align: center;
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: transparent!important;
}

.rbc-events-container .rbc-event {
  background-color: transparent !important;
  border: none !important;
  width: 97% !important;
  margin-left: 2% !important;
}

.rbc-events-container .rbc-event-label {
  display: none !important;
}

.with-right {
  width: calc(100% - 400px);
}
